<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SHIELD - Free Bootstrap 3 Theme">
    <meta name="author" content="Carlos Alvarez - Alvarez.is - blacktie.co">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title> Ant Information Technology </title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/icomoon.css">
    <link href="assets/css/animate-custom.css" rel="stylesheet">


    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/modernizr.custom.js"></script>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-app="AntInformaticaApp" data-spy="scroll" data-offset="0" data-target="#navbar-main"> 
	
<!-- 			<div class="col-lg-4 callout" ng-controller="RegistroController"> -->
<!-- 				<br> -->
<!-- 				<br> -->
<!-- 				<form name="form" id="form_sample_2" role="form" class="form-signin">					 -->
<!-- 					<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/> -->
<!-- 					<input type="email" name="email" id="email" class="form-control" ng-model="email" -->
<!-- 						placeholder="Digite seu email" required="">  -->
<!-- 					<input type="password" name="password" id="password" class="form-control" ng-model="password" -->
<!-- 						placeholder="Digite sua senha" required="">  -->
<!-- 					<input type="password" class="form-control" name="confirmPassword" id="confirmPassword" ng-model="confirmPassword" -->
<!-- 						placeholder="Confirme sua senha" required=""> -->
<!-- 					<button class="btn btn-lg btn-primary btn-block" type="submit" -->
<!-- 						ng-click="registrar(form)">Registrar</button> -->
<!-- 					<div align="center"> -->
<!-- 						<h4 class="form-signin-heading text-muted"> -->
<!-- 						Já possui uma conta?<br> <a class="registerLabel" -->
<!-- 							href="/shieldtheme/login.html">Clique aqui !</a> -->
<!-- 					</div> -->
					
<!-- 					</h4> -->
<!-- 				</form> -->
<!-- 			</div> -->
			
			
	<br><br>		
	
	<div id="registro" align="center" ng-controller="RegistroController">
		<form name="form" id="form_sample_2" role="form" class="form-signin">		
			<div class="form-group">
				<label for="inputEmail1" class="col-lg-4 control-label"></label>
				<div class="col-lg-10">
					<input type="hidden" name="${_csrf.parameterName}"
						value="${_csrf.token}" /> 
					<input type="text" name="username" id="username" ng-model="username" placeholder="Usuário" />
				</div>
			</div>
			<div class="form-group">
				<label for="text1" class="col-lg-4 control-label"></label>
				<div class="col-lg-10">
					<input type="text" name="password" id="password" ng-model="password" placeholder="Senha" />
				</div>
			</div>
			<div class="form-group">
				<label for="text1" class="col-lg-4 control-label"></label>
				<div class="col-lg-10">
					<input type="text" name="confirmPassword" id="confirmPassword" ng-model="confirmPassword" placeholder="Confirme a senha" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-10">
				<br>
					<button type="submit" class="btn btn-lg btn-primary" ng-click="registrar(form)">Registrar</button>					
					<h4 class="form-signin-heading text-muted">
						Já possui uma conta?<br> <a class="registerLabel"
							href="/shieldtheme/login.html">Clique aqui !</a>
				</div>
			</div>
		</form>
	</div>
			

		
	<script type="text/javascript" src="assets/js/angular.js"></script>
	<script>

    var myApp = angular.module('AntInformaticaApp', []);
    myApp.controller('RegistroController', ['$scope', '$http', '$window', function ($scope, $http, $window) {

    	$scope.registrar = function(form) {
    	    $scope.submitted = true;	
       
    	    var registroDTO = {
                    username: $scope.username,
                    password: $scope.password,
                    confirmPassword: $scope.confirmPassword
                }
            console.log("username: " + username.value);
            console.log("password: " + password.value);
            console.log("confirm do pass: " + confirmPassword.value);

            $scope.register = function() {

            	$http({
                    method: 'POST',
                    url: '/register',
                    data: JSON.stringify(registroDTO)
                }).then(function successCallback(response) {

                    if (response.data.code == 200) {
                        $window.location.href = '/shieldtheme/login.html';
                        console.log("opaaa mlk")
                    } else {
                        //$window.location.href = '/shieldtheme/registro.html'
                        console.log(response);
                            console.log("ahhhhh erro")
                    }

                }, function errorCallback(response) {

                });

//         		$http({
//         			method : 'POST',
//         			url : '/register',
//             		data: dados            		
//         		}).then(function successCallback(response) {
        			
//         			console.log("OK no get pelo angular foi");
//         			console.log(response);
//                  	if (response.data.code == 200) {
//                  		$window.location.href = '/home.html';
//                 		 console.log("Código OK do response: " + response.data.code);
//             		 } else {
//              			console.log("Código NOK do responde: " + response.data.code);
//                 		 //$window.location.href = '/shieldtheme/registro.html'
//             		 }
        						
//         		}, function errorCallback(response) {        			
//         			console.log("Erro na requisição de registro, no post pelo angular");
//         		});

        	};
        	$scope.register();
        }
    }]);

</script>
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
		

	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/retina.js"></script>
	<script type="text/javascript" src="assets/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="assets/js/smoothscroll.js"></script>
	<script type="text/javascript" src="assets/js/jquery-func.js"></script>

  </body>
</html>
